---
import LibraryIcon from "@/icons/Library.astro"
import HomeIcon from "@/icons/Home.astro"
import SearchIcon from "@/icons/Search.astro"
import SideMenuItem from "./SideMenuItem.astro"
import SideMenuCard from "./SideMenuCard.astro"

import { playlists } from "@/lib/data"
---

<nav class="flex flex-col flex-1 gap-2">
  <div class="bg-zinc-900 rounded-lg p-2">
    <ul>
      <SideMenuItem href="/">
        <HomeIcon />
         Inicio
      </SideMenuItem>

      <SideMenuItem href="/#">
        <SearchIcon />
         Buscar
      </SideMenuItem>
    </ul>
  </div>

  <div class="bg-zinc-900 rounded-lg p-2 flex-1">
    <ul>
      <SideMenuItem href="/">
        <LibraryIcon />
         Tu biblioteca
      </SideMenuItem>

      {playlists.map((playlist) => <SideMenuCard playlist={playlist} />)}
    </ul>
  </div>
</nav>
